---
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'

// 这里定义页面右侧的目录导航
const headings = [
  { depth: 2, slug: 'coming-soon', text: 'Coming Soon' }
]
---

<PageLayout title='Projects' {headings} view>
  
  <!-- 简单的欢迎语 -->
  <p>
    这里展示我的个人项目。
    (Projects page under construction...)
  </p>

  
    <!-- =============================================
    下面是如何添加项目的示例代码。
    等你以后有项目了，把下面的注释符号去掉，
    修改里面的 name, description 和 links 即可。
    ============================================= -->
  
  <h2 id='my-projects'>My Projects</h2>
  <ProjectSection
    projects={[
      {
        image:'image.png',
        name: 'IOOI-EmotinoEgg',
        description: '青春期情绪认知助手',
        links: [
          { type: 'github', href: 'https://github.com/Yingshznrgb/IOOI-EmotionEgg' },
          { type: 'site', href: 'https://github.com/Yingshznrgb/IOOI-EmotionEgg' }
        ]
      }
    ]}
  /> 
 

  <h2 id='coming-soon'>Coming Soon</h2>
  <p>更多精彩项目正在开发中...</p>

</PageLayout>